#footer{
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Agdasima', sans-serif;
    font-weight: bold;
    height: 60px;
    color: #990000;
    border: 5px solid #D4D925;
    border-radius: 20px;
    font-size: 16PX;
    flex-wrap: nowrap;
}